<div class="download-bg">
  <div class="custom-container">
    <div class="download">
      <div class="download__heading">
        <h3>{{download-heading}} <strong>{{download-heading-underline}}</strong></h3>
        <form action="#"></form>
      </div>
      <a href=""></a></div>
  </div>
</div>
