<div class="home-wrap-bg">
  <div class="home-preview-bg"></div>
</div>
<div class="custom-container">
  <div class="home-preview">
    <div class="home-preview__opl">
      <span>Opleidingen</span>
      <span>Op zoek naar een opleiding waar jouw onderwijspraktijk centraal staat?</span>
      <a href="opleidingen-1.html" class="primary-btn">
        <div>
          <span>Overzicht</span>
        </div>
      </a>
    </div>
    <div class="home-preview__support">
      <span>Support</span>
      <span>downloads</span>
      <img src="{{preview-img}}" alt="download">
      <a href="downloads.html" class="primary-btn">
        <div>
          <span>Downloads</span>
        </div>
      </a>
    </div>
  </div>
</div>
