<div class="slant-bg"></div>
<div class="custom-container">
  <div class="top-wrap scholen-hex">
    {{> ../common/top-nav }}
    {{> ../common/main-header }}
    <div class="scholen-hex__heading">
      <h3>{{scholen-hex-heading}}</h3>
    </div>
    <div class="hex-text">
      {{#each hex-text}}
        <p>{{hex-paragraph}}</p>
      {{/each}}
    </div>
    <div class="opl-hero-informatie">
      <h4>Informatie</h4>
      <a href="#" class="primary-btn">Download info sheet</a>
      <a href="#" class="primary-btn">Online info sheet</a>
      <a href="#" class="primary-btn"></a>
    </div>
  </div>
</div>
