.download-bg {
  background-color: #f0f3f6;
}
.download {
  &__heading {
    h3 {
      line-height: 1.24;
      margin-bottom: 0;
      strong {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background: url("images/icons/underline-pink.svg") no-repeat;
          background-size: 100%;
          right: 0;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 4px;
          @media (max-width: 767px) {
            bottom: -3px;
          }
        }
      }
    }
  }

  &__form {
    position: relative;
    width: 450px;
    input,
    button {
      border: none;
      outline: none;
      background: transparent;
    }
    input {
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #9d9d9c;
      color: $text-color;
      padding-top: 21px;
      padding-right: 35px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      cursor: pointer;
      padding-right: 0;
      display: flex;
      justify-content: flex-end;
      img {
        width: 18px;
        height: 19px;
        margin-bottom: -14px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          /* IE10+ CSS styles go here */
          position: relative;
          bottom: -21px;
        }
        @supports (-ms-accelerator:true) {
          /* IE Edge 12+ CSS styles go here */
          position: relative;
          bottom: -21px;
        }
        @-moz-document url-prefix() {
          position: relative;
          bottom: -21px;
        }
      }
    }
    button::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
    input::-webkit-input-placeholder {
      @include body-typo;
      color: #b2b2b2;
    }
    input:-moz-placeholder {
      @include body-typo;
      color: #b2b2b2;
    }
    input:-ms-input-placeholder {
      @include body-typo;
      color: #b2b2b2;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 19px 20px 36px;
    margin-bottom: 13px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    @media (max-width: 767px) {
      padding: 20px 19px;
    }
    a:nth-of-type(1) {
      color: $text-color;
      font-family: $extra-font;
      font-size: 1.375rem;
      line-height: 2.045;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: $green-accent;
        text-decoration: none;
      }
      @media (max-width: 991px) {
        width: 63%;
        line-height: 1.33;
        min-height: 58px;
        display: flex;
        align-items: center;
      }
    }
  }
}
