.partners {
  padding-bottom: 84px;
  &__heading {
    h3 {
      margin-bottom: 54px;
      line-height: 1.24;
      text-align: center;
      strong {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background: url("images/icons/underline-pink.svg") no-repeat;
          background-size: 100%;
          right: 0;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 4px;
          @media (max-width: 767px) {
            bottom: -3px;
          }
        }
      }
    }
  }
  &__all {
    @include flex-center;
    box-shadow: $shadow-2;
    width: 100%;
  }
  &__slider-wrap {
    max-width: 1115px;
    width: 100%;
    @media (max-width: 1499px) {
      width: 90%;
    }
    @media (max-width: 767px) {
      width: 82%;
    }
  }
  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 174px;
  }
  .slick-next:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    background: url("images/icons/arrow-left.svg") center;
    width: 9px;
    height: 16px;
  }
  .slick-next {
    background: url("images/icons/arrow-right.svg") center;
    width: 9px;
    height: 16px;
  }
}

