.team-content {
  padding: 10px 44px 22px 31px;
  background-color: #fff;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    padding-top: 5px;
  }
  @supports (-ms-accelerator:true) {
    /* IE Edge 12+ CSS styles go here */
    padding-top: 5px;
  }
  span {
    display: block;
    color: $purple-accent;
    font-family: $nexa-bold;
    font-size: 1rem;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
  }
  a {
    padding-left: 18px;
    justify-content: flex-start;
    &:hover {
      transition: 0.3s;
      padding-left: 51px;
      text-decoration: none;
      //color: darken($green-accent, 20%);
      //border: 1px solid darken($green-accent, 20%);
    }
  }
}
