<div class="custom-container">
  <div class="footer">

    <div class="footer__top">
      <div class="footer__menu">
        <div class="footer__menu-block">
          <img src="" alt="">
          <span><a href="#"></a></span>
          <span><a href="#"></a></span>
          <span><a href="#"></a></span>
          <span><a href="#"></a></span>
          <span><a href="#"></a></span>
          <span><a href="#"></a></span>
        </div>
      </div>
      <div class="footer__links"></div>
    </div>
    <div class="footer__bottom"></div>
  </div>
</div>
