<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>OnderwijsMens</title>

<meta name="description" content="OnderwijsMens biedt perspectief om krachtige onderwijsverhalen te creëren!">
<meta name="robots" content="index,follow" />
<meta name="keywords" content="" />
<meta property="og:image" content="images/share-image.png">
<meta property="og:image:secure_url" content="images/share-image.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="website">
<meta property="og:title" content="OnderwijsMens">
<meta property="og:description" content="OnderwijsMens. OnderwijsKwaliteit">
<meta property="og:url" content="https://onderwijsmens.now.sh/">
<meta property="og:site_name" content="OnderwijsMens">
<meta name="twitter:image" content="images/share-image.png">

<meta name="twitter:card" content="summary">
<meta name="theme-color" content="#fff">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon.png" color="">
<meta name="msapplication-TileColor" content="#fff">
