<div class="shadow">
  <div class="mobile-menu">
    <div class="mobile-menu__burger">
      <button></button>
    </div>
    <div class="mobile-menu__logo">
      <img src="{{mobile-menu-close-btn}}" alt="close-btn">
    </div>
    <div class="mobile-menu__menu">
      <ul>
        <li><a href="scholen-1.html">Scholen</a></li>
        <li><a href="scholen-2.html">Bestuur</a></li>
        <li><a href="over-ons.html">Over ons</a></li>
        <li><a href="opleidingen-1.html">Opleidingen</a></li>
        <li><a href="downloads.html">Downloads</a></li>
        <li><a href="contact-page.html">Contact</a></li>
      </ul>
    </div>
    <div class="mobile-menu__btn ">
      <ul>
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="20" viewBox="0 0 9 20"><g><g><path fill="#009a3e" d="M2.212 19.208c.006-.059.017-.118.017-.177V10.001H.346V6.826h1.887v-.23c.004-.708-.007-1.416.018-2.123.028-.78.192-1.53.613-2.207a2.752 2.752 0 0 1 1.664-1.23C4.935.924 5.359.83 5.779.817c1.03-.03 2.06-.01 3.105-.01v3.148H8.69c-.57.007-1.14.011-1.708.023-.12.002-.24.024-.356.05-.305.07-.533.316-.551.697-.031.681-.02 1.365-.026 2.048 0 .011.01.021.023.046h2.842L8.58 9.99H6.04v8.988c0 .077-.01.154-.015.231z"/></g></g></svg></a></li>
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><g><g><path fill="#009a3e" d="M14.06 17.75v-.164-5.959c0-.406-.033-.807-.145-1.199-.376-1.312-1.91-1.764-2.947-.864-.474.413-.74.936-.746 1.575-.003.34-.003.678-.003 1.017v5.588H6.327V6.29h3.893v1.43c.035-.04.048-.054.06-.07.807-1.137 1.925-1.647 3.3-1.638 1.025.007 1.97.263 2.771.93.718.596 1.138 1.38 1.376 2.27a7.19 7.19 0 0 1 .235 1.868c.003 2.182.001 4.363.001 6.546 0 .038-.003.076-.006.125zM2.402 4.878c-.653-.026-1.233-.214-1.67-.712-.518-.59-.627-1.28-.384-2.01.244-.734.795-1.142 1.536-1.295.568-.117 1.126-.073 1.651.191a1.983 1.983 0 0 1 1.065 1.95c-.093.887-.637 1.543-1.48 1.76-.235.06-.479.078-.718.116zM4.348 17.75H.47V6.286h3.878z"/></g><g><path fill="#009a3e" d="M17.957 17.75H14.06v-.165l.001-5.958a4.33 4.33 0 0 0-.146-1.199c-.376-1.312-1.911-1.764-2.946-.864-.475.413-.741.936-.746 1.575-.003.34-.003.678-.003 1.017-.001 1.808 0 3.616 0 5.424v.164H6.327V6.29h3.894v1.43c.034-.04.048-.054.059-.07.807-1.137 1.925-1.648 3.3-1.638 1.025.007 1.969.263 2.772.93.717.596 1.137 1.38 1.376 2.268.165.613.233 1.238.234 1.87.003 2.182.001 4.363.001 6.546 0 .038-.003.076-.006.125z"/></g><g><path fill="#009a3e" d="M4.349 17.749H.471V6.286h3.878z"/></g><g><path fill="#009a3e" d="M2.403 4.878c-.653-.026-1.233-.214-1.67-.712-.518-.59-.627-1.28-.384-2.01.244-.734.795-1.142 1.536-1.295.568-.117 1.126-.073 1.651.191a1.983 1.983 0 0 1 1.065 1.95c-.093.887-.637 1.543-1.48 1.76-.235.06-.479.078-.718.116z"/></g></g></svg></a></li>
        <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="14" viewBox="0 0 17 14"><g><g><path fill="#009a3e" d="M-.278 12.484c1.905.16 3.626-.311 5.199-1.497-.787-.036-1.465-.263-2.06-.71A3.526 3.526 0 0 1 1.604 8.52c.53.069 1.04.077 1.555-.07C1.129 7.956.294 6.154.364 4.925c.488.236.986.406 1.58.42-.9-.657-1.42-1.496-1.54-2.554-.092-.818.089-1.588.46-2.177 1.92 2.258 4.352 3.502 7.326 3.71-.023-.21-.054-.402-.062-.595-.06-1.44.534-2.54 1.752-3.293 1.3-.804 3.107-.602 4.208.46.139.134.254.163.442.117a7.547 7.547 0 0 0 1.962-.784c0 .439-.605 1.24-1.42 1.933.21-.038.42-.068.626-.116.219-.05.437-.11.652-.18.208-.065.41-.147.616-.221L17 1.68c-.283.332-.553.678-.855.992-.241.25-.52.469-.79.692a.28.28 0 0 0-.111.244c.045 2.47-.693 4.688-2.194 6.64-1.521 1.98-3.526 3.192-5.982 3.638-1.863.339-3.692.198-5.473-.458a8.827 8.827 0 0 1-1.873-.945z"/></g></g></svg></a></li>
      </ul>
    </div>
  </div>
</div>

