<div class="ticks-bg">
  <div class="custom-container">
    <div class="ticks">
      {{#each ticks}}
      <div class="ticks__block">
        <h4>{{ticks-heading}}</h4>
        <span>{{ticks-text1}}</span>
        <span>{{ticks-text2}}</span>
        <span>{{ticks-text3}}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>
