<div class="top-nav" id="top-nav">
  <div class="top-nav__container">
    <div class="top-nav__content">
      <div class="top-nav__logo">
        <a href="/">
          <img src="{{top-nav-logo}}" alt="logo">
        </a>
      </div>
      <div class="top-nav__menu">
        <ul>
          <li><a href="scholen-1.html">Scholen</a></li>
          <li><a href="scholen-2.html">Bestuur</a></li>
          <li><a href="over-ons.html">Over ons</a></li>
          <li><a href="opleidingen-1.html">Opleidingen</a></li>
          <li><a href="downloads.html">Downloads</a></li>
          <li><a href="contact-page.html">Contact</a></li>

          <li><a href="#"><img src="{{facebook}}" alt="facebook"></a></li>
          <li><a href="#"><img src="{{insta}}" alt="insta"></a></li>
          <li><a href="#"><img src="{{twitter}}" alt="twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
