<div class="top-nav">
  <div class="top-nav__logo">
    <a href="/">
      <div class="top-nav__logo-img">
        <img src="{{top-nav-logo}}" alt="logo">
      </div>
    </a>
  </div>
  <div class="top-nav__menu">
    <ul>
      <li><a href="scholen-1.hbs">Scholen</a></li>
      <li><a href="scholen-2.hbs">Bestuur</a></li>
      <li><a href="over-ons.hbs">Over ons</a></li>
      <li><a href="opleidingen-1.hbs">Opleidingen</a></li>
      <li><a href="downloads.hbs">Downloads</a></li>
      <li><a href="contact-page.hbs">Contact</a></li>

      <li><a href="#"><img src="{{facebook}}" alt="facebook"></a></li>
      <li><a href="#"><img src="{{insta}}" alt="insta"></a></li>
      <li><a href="#"><img src="{{twitter}}" alt="twitter"></a></li>
    </ul>
  </div>
</div>
