<div class="top-nav">
  <div class="top-nav__logo">
    <a href="/">
      <div class="top-nav__logo-img">
        <img src="{{top-nav-logo}}" alt="logo">
      </div>
      <span>Onderwijs<strong>Mens</strong></span>
    </a>
  </div>
  <div class="top-nav__menu">
    <ul>
      <li><a href="scholen-1.hbs">Scholen</a></li>
      <li><a href="scholen-2.hbs"></a>Bestuur</li>
      <li><a href="over-ons.hbs"></a>Over ons</li>
      <li><a href="opleidingen-1.hbs"></a>Opleidingen</li>
      <li><a href="downloads.hbs"></a>Downloads</li>
      <li><a href="contact-page.hbs"></a>Contact</li>

      <li><a href="#"><img src="{{facebook}}" alt="facebook"></a></li>
      <li><a href="#"><img src="{{insta}}" alt="insta"></a></li>
      <li><a href="#"><img src="{{twitter}}" alt="twitter"></a></li>
    </ul>
  </div>
</div>
