.index {
  .hoogte-bg {
    height: 266px;
    background-color: #fff;
    position: relative;
  }
  .hoogte-wrap {
    position: relative;
  }
  .hoogte-wrap .custom-container {
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    @media (max-width: 767px) {
      top: -255px;
    }
  }
  .feedback-bg {
    background: rgb(236, 240, 244);
    top: 0;
    min-height: 756px;
    height: 100%;
    @media (max-width: 1199px) {
      min-height: 1156px;
    }
    @media (max-width: 767px) {
      min-height: 1600px;
    }
    &:after {
      height: 212px;
    }
  }
  .feedback {
    padding-top: 331px;
    @media (max-width: 1199px) {
      padding-top: 700px;
    }
    @media (max-width: 767px) {
      padding-top: 1100px;
    }
    &__header {
      margin-top: 0;
      margin-bottom: 23px;
      @media (max-width: 1199px) {
        justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
      }
      h3 {
        line-height: 1.24;
        color: $text-color;
        @media (max-width: 343px), (max-width: 1199px) and (min-width: 415px) {
          display: block;
        }
        strong {
          position: relative;
          display: inline;
          &:after {
            content: "";
            position: absolute;
            background: url("images/icons/underline-pink.svg") no-repeat;
            background-size: 100%;
            right: 0;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            @media (max-width: 767px) {
              //content: url("images/icons/underline-pink-mobile.svg");
              bottom: -3px;
            }
          }
        }
      }
      a {
        display: none;
      }
    }
  }
}
