.index {
  //.hoogte-bg {
  //  position: relative;
  //  @include flex-center;
  //}
  //.hoogte {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //}
  .feedback {
    padding-top: 331px;
    &__header {
      margin-bottom: 23px;
      h3 {
        line-height: 1.24;
        strong {
          position: relative;
        }
        strong:after {
          position: absolute;
          content: url("images/icons/underline-pink.svg");
          bottom: -12px;
          left: 0;
          width: 100%;
        }
      }
      a {
        display: none;
      }
    }
  }
}
