.opleidingen-2 {

  .slant-bg {
    background: url("images/opleidingen-bg.png") no-repeat center center;
    background-size: cover;
  }
  .scholen-hex {
    padding-bottom: 97px;
    @media (max-width: 1199px) {
      padding-bottom: 30px;
    }
    &__heading {
      max-width: 696px;
      width: 100%;
      @media (max-width: 767px) {
        padding-top: 0;
      }
    }
  }
  .hex-text {
    p {
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }
    p:nth-of-type(3) {
      color: $lightblue-accent;
      font-family: $extra-font;
      font-size: 1.5rem;
      padding-top: 45px;
      line-height: 1.25;
      margin-bottom: 22px;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
}
