.referenties-1 {
  .slant-bg {
    background: url("images/ref1-bg.png") no-repeat top left;
    background-size: cover;
  }
  .main-header {
    width: 100%;
    @media (min-width: 992px) and (max-width: 1199px) {
      padding-top: 164px;
    }
  }
}
