.referenties-2 {
  .slant-bg {
    background: url("images/ref1-bg.png") no-repeat top left;
    background-size: cover;
  }
  .scholen-hex {
    padding-bottom: 55.5px;
  }
  .main-header {
    @media (min-width: 992px) and (max-width: 1199px) {
      padding-top: 47px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 94%;
    }
  }
  .hoogte__button {
    a {
      background-color: $green-accent;
    }
  }
}
