.scholen-2 {
  .slant-bg {
    background: url("images/scholen2-bg.png") no-repeat top left;
    background-size: cover;
  }
  .scholen-hex {
    position: relative;
    padding-bottom: 93px;
  }
  .feedback-bg {
    height: 411px;
  }
}

