.scholen-1 {
  .slant-bg {
    background: url("images/scholen1-bg.png") no-repeat top left;
    background-size: cover;
  }
  .scholen-hex {
    padding-bottom: 93px;
  }
  .hexagon {
    background-image: url("images/scholen1.png");
  }
}

