.slant-bg {
  z-index: -1;
  overflow: hidden;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    width: 115%;
    height: 427px;
    bottom: -106px;
    left: -24px;
    z-index: -1;
    background-color: #fff;
    transform: rotate(174.4deg);
    @media (min-width: 1921px) {
      height: 435px;
      bottom: -108px;
    }
  }
}
.custom-container {
  max-width: 1230px;
  padding: 0 15px;
  margin: auto;
  @media (max-width: 1499px) {
    max-width: 1165px;
  }
  @media (max-width: 1199px) {
    max-width: 960px;
  }
  @media (max-width: 991px) {
    max-width: 720px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
  }
  @media (max-width: 575px) {
    max-width: 100%;
  }
}

.over-ons,
.opleidingen-1,
.scholen-1,
.scholen-2,
.downloads,
.nieuws-1,
.referenties-1,
.contact-page {
  .main-header .main-header__subheading span:nth-of-type(2) {
    display: none;
  }
}
.opleidingen-2,
.nieuws-2,
.referenties-2 {
  .main-header {
    @media (max-width: 575px) {
      padding-bottom: 120px;
    }
    //@media (max-width: 575px) {
    //  padding-top: 0;
    //}
    h1 {
      @media (max-width: 575px) {
        max-width: 345px;
      }
    }
    &__subheading span:nth-of-type(2) {
      padding-right: 0;
      @media (min-width: 768px) and (max-width: 991px) {
        width: 50%;
      }
      &:before {
        //@media (max-width: 575px) {
        //  line-height: 48px;
        //}
        //@media (max-width: 360px) {
        //  line-height: 32px;
        //}
      }
    }
  }
}

.scholen-hex {
  position: relative;
  &__heading {
    max-width: 641px;
    @media (max-width: 991px) {
      width: 45%;
    }
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      padding-top: 330px;
    }
    @media (max-width: 360px) {
      padding-top: 264px;
    }
    span:nth-of-type(1) {
      color: $purple-accent;
      font-family: $nexa-bold;
      font-size: 1rem;
      letter-spacing: 0.8px;
    }
    h3 {
      color: $purple-accent;
      margin-bottom: 27.5px;
      line-height: 1.24;
    }
  }
  &__list {
    ul {
      padding-left: 13px;
    }
    li {
      max-width: 678px;
      width: 100%;
      line-height: 1.56;
      margin-bottom: 15px;
      font-family: $bold-font;
      font-size: 1rem;
      letter-spacing: 0.4px;
      color: $text-color;
      list-style: none;
      position: relative;
      @media (max-width: 991px) {
        max-width: 409px;
      }
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
      &:after {
        content: "•";
        position: absolute;
        left: -9px;
        top: 10px;
        font-weight: 700;
        border-radius: 100%;
        color: #fff;
        width: 4px;
        height: 4px;
        background-color: $text-color;
        line-height: 24px;
        text-align: center;
      }
    }
    a {
      margin-top: 52px;
      max-width: 204px;
      background-color: $pink-accent;
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__photo {
    width: 487px;
    position: absolute;
    top: 170px;
    right: 0;
    height: 100%;
    @media (max-width: 1499px) {
      width: 440px;
    }
    @media (max-width: 1199px) {
      width: 370px;
    }
    @media (max-width: 991px) {
      width: 345px;
      top: 260px;
    }
    @media (max-width: 767px) {
      top: 378px;
      left: 50%;
      transform: translate(-50%);
    }
    @media (max-width: 575px) {
      //top: 347px;
    }
    @media (max-width: 360px) {
      width: 290px;
      //top: 25%;
    }
    img {
      width: 100%;
    }
  }
}

.over-ons,
.nieuws-2,
.referenties-2 {
  .scholen-hex__heading {
    h3 {
      color: $text-color;
    }
  }
}
.opleidingen-1,
.opleidingen-2 {
  .scholen-hex__heading {
    h3 {
      color: $lightblue-accent;
    }
  }
}

//hoogte pages
.nieuws-1,
.referenties-1 {
  .hoogte-bg {
    height: 235px;
    background-color: #fff;
    position: relative;
  }
  .hoogte-wrap {
    position: relative;
  }
  .hoogte-wrap .custom-container {
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
    @media (max-width: 767px) {
      top: -255px;
    }
  }
  .hoogte__heading h3 strong {
    margin-left: -4px;
  }
  .hoogte__body {
    flex-wrap: wrap;
  }
  .hoogte__button {
    display: none;
  }
  .hoogte__miniature:nth-of-type(1),
  .hoogte__miniature:nth-of-type(3),
  .hoogte__miniature:nth-of-type(5),
  .hoogte__miniature:nth-of-type(7) {
    @media (max-width: 1199px) {
      margin-right: 30px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  .feedback-bg {
    background: rgb(236, 240, 244);
    top: 0;
    min-height: 1132px;
    height: 100%;
    position: relative;
    @media (max-width: 1199px) {
      min-height: 1856px;
    }
    @media (max-width: 767px) {
      min-height: 3350px;
    }
    &:after {
      height: 212px;
    }
  }
}
//pages with span date
.nieuws-2,
.referenties-2 {
  .main-header {
    padding-bottom: 172px;
  }
  .scholen-hex__heading {
    @media (min-width: 361px) and (max-width: 767px) {
      padding-top: 360px;
    }
    h3 {
      margin-top: 16px;
    }
  }
  .hoogte-bg {
    background-color: #f0f3f6;
    height: 784px;
    position: absolute;
    &:after {
      content: "";
      position: absolute;
      width: 115%;
      height: 209px;
      bottom: -106px;
      left: -30px;
      z-index: -1;
      background-color: #fff;
      transform: rotate(175deg);
      @media (min-width: 1921px) {
        height: 350px !important;
        bottom: -221px !important;
      }
    }
  }
  .hoogte {
    &__heading {
      margin-top: 68px;
    }
    &__button {
      margin-bottom: 209px;
      @media (max-width: 991px) {
        margin-bottom: 109px;
      }
    }
  }
}

.index,
.nieuws-2,
.referenties-2 {
  .hoogte__miniature:nth-of-type(1) {
    @media (max-width: 1199px) {
      margin-right: 30px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
}
//.downloads,
//.nieuws-1,
//.referenties-1,
//.contact-page {
//  .main-header {
//    @media (max-width: 767px) {
//      padding-bottom: 120px;
//    }
//  }
//}
