.primary-btn {
  min-width: 204px;
  height: 49px;
  transition: 0.5s;
  padding: 13px 45px 13px 0;
  border-radius: 4px;
  position: relative;
  @include flex-center;
  @include button-typo;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.17), 3px 3px 6px rgba(0, 0, 0, 0.08);
  //box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16), 3px 3px 6px rgba(0, 0, 0, 0.05);
  outline: none;
  &:after {
    content: url("images/icons/arrow.svg");
    display: inline;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    transition: 0.3s;
    opacity: 1;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    &:after {
      right: 0;
      opacity: 0;
      transition: 0.1s;
    }
  }
}

.secondary-btn {
  height: 47px;
  padding: 13px 39px 13px 0;
  border-radius: 4px;
  border: 1px solid $green-accent;
  background-color: #fff;
  position: relative;
  font-family: $nexa-bold;
  font-size: 1rem;
  line-height: 1.31;
  color: $green-accent;
  letter-spacing: 0.8px;
  transition: 0.3s;
  outline: none;
  @include flex-center;
  &:after {
    content: url("images/icons/arrow-green.svg");
    display: inline;
    width: 21px;
    height: 16px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  &:hover {
    color: $green-accent;
    text-decoration: none;
    padding: 13px;
    &:after {
      right: 0;
      opacity: 0;
      transition: 0.1s;
    }
  }
}
