.primary-btn {
  min-width: 204px;
  height: 49px;
  transition: 0.3s;
  padding: 13px 45px 13px 0;
  border-radius: 4px;
  position: relative;
  @include flex-center;
  @include button-typo;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  &:after {
    content: url("images/icons/arrow.svg");
    display: inline;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    transition: 0.3s;
  }
  &:hover {
    @include link-hover;
  }
}

.secondary-btn {
  height: 47px;
  transition: 0.3s;
  padding: 13px 39px 13px 0;
  border-radius: 4px;
  border: 1px solid $green-accent;
  background-color: #fff;
  @include flex-center;
  position: relative;
  font-family: $nexa-bold;
  font-size: 1rem;
  line-height: 1.31;
  color: $green-accent;
  letter-spacing: 0.8px;
  &:after {
    content: url("images/icons/arrow-green.svg");
    display: inline;
    width: 21px;
    height: 16px;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  &:hover {
    @include link-hover;
  }
}
