.footer {
  a {
    text-decoration: none;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 39px;
    border-bottom: 1px solid #575756;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__menu {
    display: flex;
    width: 100%;
    @media (min-width: 1200px) {
      max-width: 806px;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__menu-block {
    padding-right: 39px;
    @media (max-width: 991px) {
      width: auto !important;
      padding-right: 0;
    }
    @media (max-width: 767px) {
      width: 100% !important;
    }
    img {
      margin-bottom: 23px;
      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }
    span:nth-of-type(1) {
      font-family: $nexa-bold;
      font-size: 1.0625rem; /* 17px */
      letter-spacing: 0.85px;
      color: $purple-accent;
      margin-bottom: 10px;
    }
    span {
      display: block;
      @include body-typo;
      line-height: 1.31;
      margin-bottom: 7px;
    }
    a {
      @include body-typo;
      transition: 0.4s;
      &:hover {
        background-color: #f0f3f6;
      }
    }
  }
  &__menu-block:nth-of-type(1) {
    width: 31.14%;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-right: 31px;
    }
    span:nth-of-type(1) {
      @media (max-width: 767px) {
        display: inline;
        margin-left: 10px;
      }
    }
  }
  &__menu-block:nth-of-type(2) {
    width: 34.36%;
    @media (min-width: 768px) and (max-width: 991px) {
      margin-right: 31px;
    }
    span:nth-of-type(1) {
      @media (max-width: 767px) {
        display: inline;
        margin-left: 10px;
      }
    }
  }
  &__menu-block:nth-of-type(3) {
    img {
      display: none;
    }
    span:nth-of-type(1) {
      margin-top: 72px;
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }
  &__links {
    max-width: 300px;
    width: 100%;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;
    margin-top: 17px;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      justify-content: center;
    }
    @media (max-width: 1199px) {
      justify-content: flex-start;
    }
    a:nth-of-type(2) {
      margin: 0 16px;
    }
    a {
      @include flex-center;
      width: 36px;
      height: 36px;
      background-color: $violet-accent;
      border-radius: 3px;
      transition: 0.3s;
      &:hover {
        border-radius: 50%;
      }
    }
  }
  &__green-links {
    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 7px 37px 0;
      color: $green-accent;
      font-family: $nexa-bold;
      font-size: 1rem;
      letter-spacing: 0.8px;
      line-height: 1.18;
      transition: 0.3s;
      position: relative;
      &:after {
        content: url("images/icons/arrow-green.svg");
        display: inline;
        width: 21px;
        height: 19px;
        transition: 0.3s;
      }
      &:before {
        content: "";
        position: absolute;
        background: url("images/icons/underline-green.svg") no-repeat;
        background-size: 100%;
        right: 0;
        opacity: 0;
        bottom: 28px;
        left: -1px;
        width: 100%;
        height: 4px;
        transition: 0.3s;
      }
      &:hover {
        text-decoration: none;
        &:before {
          opacity: 1;
          bottom: 32px;
        }
      }
    }
    a:last-of-type {
      padding-bottom: 0;
      &:before {
        bottom: -8px;
      }
      &:hover {
        &:before {
          bottom: -4px;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 30px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    span,
    a {
      color: #878787;
      font-family: $reg-font;
      font-size: 0.75rem;
      letter-spacing: 1.2px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    span strong {
      @media (max-width: 575px) {
        display: block;
      }
    }
  }
  &__bottom-right {
    display: flex;
    justify-content: space-between;
    max-width: 447px;
    width: 100%;
    @media (max-width: 991px) {
      max-width: 439px;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
    }
    @media (max-width: 575px) {
      flex-wrap: wrap;
    }
    a {
      @media (max-width: 575px) {
        width: 100%;
        line-height: 24px;
      }
    }
  }
}

