.hoogte-bg-wrap {
  position: relative;
}
.hoogte-bg {
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.hoogte {
  &__heading {
    h3 {
      margin-bottom: 35px;
      line-height: 1.24;
      text-align: center;
      strong {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background: url("images/icons/underline-pink.svg") no-repeat;
          background-size: 100%;
          right: 0;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 4px;
          @media (max-width: 767px) {
            bottom: -3px;
          }
        }
      }
    }
  }
  &__body {
    max-width: 1064px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__miniature {
    position: relative;
    min-height: 346px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    max-width: 328px;
    width: 100%;
    //.miniature__bg {
    //  //height: 207px;
    //  max-width: 328px;
    //  width: 100%;
    //  //z-index: 1;
    //  overflow: hidden;
    //  //position: absolute;
    //  //top: 0;
    //  //left: 0;
    //  border-top-right-radius: 5px;
    //  border-top-left-radius: 5px;
    //  //@media (max-width: 374px) {
    //  //  background-size: 100% !important;
    //  //  background-repeat: no-repeat !important;
    //  //  //height: 184px;
    //  //}
    //}
    .miniature__content {
      padding: 5px 24px 25px 31px;
      background-color: #fff;
      position: relative;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      @media (max-width: 767px) {
        padding-top: 18px;
      }
      //@media (max-width: 320px) {
      //  padding-top: 42px;
      //}
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        padding-top: 5px;
      }
      @supports (-ms-accelerator:true) {
        /* IE Edge 12+ CSS styles go here */
        padding-top: 5px;
      }
      span,
      a {
        display: block;
      }
      span {
        color: $purple-accent;
        font-family: $nexa-bold;
        font-size: 1rem;
        letter-spacing: 0.8px;
        margin-bottom: 5px;
      }
      a {
        color: $text-color;
        font-family: $extra-font;
        font-size: 1.375rem;
        line-height: 1.23;
        min-height: 81px;
        @media (max-width: 767px) {
          font-size: 1.125rem;
          min-height: 66px;
        }
      }
    }
  }
  //&__miniature:nth-of-type(1) .miniature__bg {
  //  background: url("images/hoogte/firework3.jpg");
  //}
  //&__miniature:nth-of-type(2) .miniature__bg {
  //  background: url("images/hoogte/childdraw3.jpg");
  //}
  //&__miniature:nth-of-type(3) .miniature__bg {
  //  background: url("images/hoogte/childdraw2.jpg");
  //}
  &__button {
    display: flex;
    justify-content: flex-end;
    max-width: 1064px;
    margin: auto;
    @media (max-width: 1199px) {
      justify-content: center;
    }
    a {
      width: 231px !important;
      background-color: $violet-accent;
    }
  }
}
