.shadow {
  position: fixed;
  z-index: 99;
  transition: 0.3s;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
  }
}
.shadow--show {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:after {
    opacity: 1;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  right: -100%;
  //right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  transition: 0.5s;
  padding: 24px;
  max-height: 100vh;
  overflow-y: auto;
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 575px) {
    width: 100%;
  }

  &__logo {
    border-bottom: 1px solid $lightblue-accent;
    width: 100%;
    height: 103px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 767px) {
      align-items: flex-start;
      height: 66px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    li {
      list-style: none;
      position: relative;
      margin-top: 16px;
    }
    li a {
      color: $text-color;
      font-family: $nexa-bold;
      text-decoration: none;
    }
  }

  &__burger {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @media (max-width: 991px) {
      display: block;
      top: 50px;
      right: 19px;
    }
    @media (max-width: 767px) {
      display: block;
      position: fixed;
      width: 30px;
      height: 30px;
      top: 25px;
    }
    &:before,
    button,
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: #fff;
      opacity: 1;
      padding: 0;
      transform: rotate(0);
      transition: 0.25s ease-in-out;
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
      @media (max-width: 767px) {
        margin-bottom: 8px;
        width: 30px;
      }
    }
    button {
      border: none;
      outline: none;
    }
  }
  &__btn {
    margin-bottom: 6px;
    padding-top: 32px;
    border-top: 1px solid $lightblue-accent;
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
    ul {
      @include flex-center;
      flex-direction: row;
      padding-left: 0;

      li {
        list-style: none;
        a {
          @include flex-center;
          width: 35px;
          height: 35px;
          background: #fff;
          &:hover {
            border-radius: 50%;
            background: $green-accent;
            transition: 0.3s;
            svg path {
              fill: #fff;
            }
          }
        }
      }
      li:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }
  &--open {
    right: 0;
  }
  &--close-btn {
    &::before {
      background: transparent;
    }
    button {
      display: none;
    }
    &::after {
      background: transparent;
    }
  }
}

.mobile-menu-interaction {
  &:after {
    position: absolute;
    content: "";
    background: url("images/icons/underline-grey.svg") no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    left: -4px;
    width: 110%;
    height: 3px;
  }
}
.onscroll1 {
  &:before,
  button,
  &:after {
    background-color: $text-color;
  }
}
