.scholen-hex {
  &__heading {
    @media (max-width: 991px) {
      width: 45%;
    }
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
      padding-top: 264px;
    }
    h3 {
      color: $purple-accent;
      margin-bottom: 31px;
      line-height: 1.24;
    }
  }
  &__list {
    ul {
      padding-left: 13px;
    }
    li {
      max-width: 678px;
      width: 100%;
      line-height: 1.56;
      margin-bottom: 15px;
      font-family: $bold-font;
      font-size: 1rem;
      letter-spacing: 0.4px;
      color: $text-color;
      list-style: none;
      position: relative;
      @media (max-width: 991px) {
        max-width: 409px;
      }
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
      &:after {
        content: "•";
        position: absolute;
        left: -9px;
        top: 10px;
        font-weight: 700;
        border-radius: 100%;
        color: #fff;
        width: 4px;
        height: 4px;
        background-color: $text-color;
        line-height: 24px;
        text-align: center;
      }
    }
    a {
      margin-top: 52px;
      max-width: 204px;
      background-color: $pink-accent;
      @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__photo {
    width: 487px;
    position: absolute;
    top: 170px;
    right: 0;
    height: 100%;
    @media (max-width: 1499px) {
      width: 440px;
    }
    @media (max-width: 1199px) {
      width: 370px;
    }
    @media (max-width: 991px) {
      width: 345px;
      top: 260px;
    }
    @media (max-width: 767px) {
      top: 22%;
      left: 50%;
      transform: translate(-50%);
    }
    @media (max-width: 360px) {
      width: 290px;
      top: 25%;
    }
    img {
      width: 100%;
    }
  }
}
