.feedback-bg-wrap {
  position: relative;
}
.feedback-bg {
  background: url("images/slider-bg.png") center center no-repeat;
  background-size: cover;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: visible;
  -ms-overflow-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 409px;
  &:after {
    content: "";
    position: absolute;
    width: 115%;
    height: 236px;
    bottom: -106px;
    left: -30px;
    z-index: -1;
    background-color: #fff;
    transform: rotate(174.4deg);
    @media (min-width: 1921px) {
      height: 350px !important;
      bottom: -210px !important;
    }
  }
}
.feedback {
  padding-bottom: 29px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 75px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media (max-width: 575px) {
      margin-top: 35px;
    }
    h3 {
      line-height: 1.24;
      color: #fff;
      @media (max-width: 343px), (min-width: 415px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      @media (max-width: 991px) {
        text-align: center;
      }
      strong {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background: url("images/icons/underline-white.svg") no-repeat;
          background-size: 100%;
          right: 0;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 4px;
          @media (max-width: 767px) {
            bottom: -1px;
          }
        }
      }
    }
    a {
      width: 253px;
      @media (max-width: 991px) {
        margin-top: 14px;
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__slider {
    background: #fff;
    @media (max-width: 1199px) {
      width: 84%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__slider-init {
    max-width: 815px;
    width: 100%;
    position: relative;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.04);
    @media (max-width: 1499px) {
      max-width: 730px;
    }
    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }
  &__slider-content {
    max-width: 815px;
    width: 100%;
    padding: 57px 53px 18px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    @media (max-width: 1199px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      padding: 30px 30px 18px;
    }
  }
  &__slider-text {
    img,
    span {
      display: block;
    }
    img:nth-of-type(1) {
      margin-bottom: 15px;
    }
    img:nth-of-type(2) {
      display: block;
      margin-left: auto;
      margin-bottom: 30px;
    }
    span {
      font-family: $bold-font;
      font-size: 21px;
      color: $violet-accent;
      line-height: 1.52;
      padding-right: 28px;
      margin-bottom: 19px;
      @media (min-width: 376px) and (max-width: 575px) {
        min-height: 310px;
      }
      @media (max-width: 375px) {
        min-height: 403px;
      }
    }
  }
  &__slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 66px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      padding: 0;
    }
    a {
      background-color: $green-accent;
      max-width: 204px;
      &:hover {
        padding: 13px;
        background: lighten($green-accent, 3%);
      }
      @media (max-width: 767px) {
        order: 2;
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &__slider-photo-wrap {
    @media (max-width: 767px) {
      order: 1;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 30px;
      padding-right: 66px;
    }
  }
}
.slick-dots {
  position: absolute;
  right: 58px;
  bottom: 41px;
  display: flex;
  width: 48px;
  padding: 0;
  list-style: none;
  text-align: center;
  @media (max-width: 767px) {
    right: 30px;
    bottom: 114px;
  }
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  content: url("images/icons/bullet.svg");
  position: static;
}
.slick-list .draggable {
  background-color: #fff;
}
.feedback__miniature {
  width: 361px;
  position: relative;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  margin-bottom: 30px;
  &:after {
    content: url("images/icons/flag.svg");
    position: absolute;
    right: 9%;
    top: -15px;
    width: 49px;
    height: 90px;
  }
  > a {
    height: 100%;
  }
  .miniature__bg {
    background: url("images/slider/slider-photo.png");
    height: 370px;
    max-width: 361px;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    @media (max-width: 575px) {
      background-size: contain;
    }
  }
  .miniature__content {
    padding: 10px 25px 25px 37px;
    background-color: rgba(66, 6, 74, 0.9);
    position: relative;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    &:before {
      content: "";
      position: absolute;
      height: 20px;
      top: -20px;
      left: 0;
      right: 15.8%; /* 69px; */
      border-bottom: 20px solid rgba(66, 6, 74, 0.9);
      border-right: 14px solid transparent;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: -19px;
      }
      @supports (-ms-ime-align:auto) {
        top: -19px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      height: 20px;
      top: -20px;
      left: 83.9%;
      right: 0;
      border-bottom: 20px solid rgba(66, 6, 74, 0.9);
      border-left: 16px solid transparent;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        top: -19px;
      }
      @supports (-ms-ime-align:auto) {
        top: -19px;
      }
    }
    h4 {
      line-height: 1.2;
      margin-bottom: 25px;
      color: #fff;
    }
    a {
      background-color: $pink-accent;
      max-width: 204px;
      &:hover {
        padding: 13px;
        background: lighten($pink-accent, 10%);
      }
    }
  }
}
