.ticks-bg {
  background-color: #f0f3f6;
}
.ticks {
  display: flex;
  padding: 91px 0 76px;
  @media (max-width: 991px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__block {
    width: 47.9%;
    @media (max-width: 991px) {
      width: 100%;
    }
    h4 {
      color: $green-accent;
      margin-bottom: 37px;
      line-height: 1.25;
      @media (max-width: 991px) {
        margin-bottom: 27px;
      }
    }
    span {
      display: block;
      @include body-typo;
      line-height: 1.31;
      position: relative;
      padding-left: 29px;
      &:before {
        content: url("images/icons/tick.svg");
        position: absolute;
        margin-right: 9px;
        top: 0;
        left: 0;
      }
    }
    span:not(:last-of-type) {
      margin-bottom: 19px;
    }
  }
  &__block:nth-of-type(1) {
    margin-right: 50px;
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 45px;
    }
  }
}
