.top-nav {
  height: 117px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  &__logo {
    @media (max-width: 991px) {
      position: absolute;
      top: 20px;
    }
    img {
      @media (max-width: 767px) {
        width: 50%;
      }
    }
    //@media (max-width: 425px) { /* цифра из головы */
    //  top: 10px;
    //}

    a {
      display: flex;
      align-items: center;
      height: 100%;
      outline: none;
    }
  }
  &__menu {
    max-width: 784px;
    width: 100%;
    //display: flex;
    //justify-content: flex-end;
    //z-index: 10;
    //align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      li {
        list-style: none;
        position: relative;
      }
      li a {
        color: #fff;
        font-family: $nexa-bold;
        //line-height: 1.31;
      }
      li:nth-of-type(1),
      li:nth-of-type(2),
      li:nth-of-type(3),
      li:nth-of-type(4),
      li:nth-of-type(5),
      li:nth-of-type(6) {
        a {
          &:after {
            opacity: 0;
            position: absolute;
            content: "";
            background: url("images/icons/underline-white.svg") no-repeat;
            background-size: cover;
            right: 0;
            bottom: -4px;
            left: -4px;
            width: 110%;
            height: 3px;
            transition: 0.3s;
          }
          &:hover {
            text-decoration: none;
            &:after {
              opacity: 1;
              bottom: 0;
            }
          }
        }
      }
      li:nth-of-type(7),
      li:nth-of-type(8),
      li:nth-of-type(9) {
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.top-nav-interaction {
  &:after {
    position: absolute;
    content: "";
    background: url("images/icons/underline-white.svg") no-repeat;
    background-size: cover;
    right: 0;
    bottom: 0;
    left: -4px;
    width: 110%;
    height: 3px;
  }
}

