.top-nav {
  height: 117px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  &__logo {
    @media (max-width: 991px) {
      position: absolute;
      top: 20px;
      left: 15px;
    }
    @media (max-width: 425px) { /* цифра из головы */
      top: 10px;
    }
    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  &__menu {
    max-width: 784px;
    width: 100%;
    //display: flex;
    //justify-content: flex-end;
    //z-index: 10;
    //align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      li {
        list-style: none;
      }
      li a {
        color: #fff;
        font-family: $nexa-bold;
        //line-height: 1.31;
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

.top-nav-interaction {
  color: green !important;
}

