<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/top-nav }}
{{> ../common/main-header }}
{{> ../partials/download }}
{{> ../common/slider }}
{{> ../common/footer }}
</body>
</html>
