<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="downloads">
{{> ../common/mobile-menu }}
{{> ../common/top-nav }}
{{> ../common/top-wrap }}
{{> ../partials/download }}
{{> ../common/slider }}
{{> ../common/footer }}
</body>
</html>
