<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{#each hello}}
    <section class="hello">
        <div class="title-box">
            <h2 class="glitch" data-text="HELLO">{{one-title}}</h2>
            <h2 class="glitch" data-text="WORLD">{{two-title}}</h2>
        </div>
        <div class="hello-other">
            <h2 class="hello__two">{{two}}</h2><span class="hello__line">/</span><h3 class="hello-three">{{three}}</h3>
        </div>
    </section>
{{/each}}

</body>
</html>
