<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="index">
{{> ../common/mobile-menu }}
{{> ../common/top-nav }}
{{> ../partials/home-hero }}
{{> ../partials/home-preview }}
{{> ../common/hoogte }}
{{> ../common/slider }}
{{> ../common/footer }}
</body>
</html>
