<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="opleidingen-1">
{{> ../common/mobile-menu }}
{{> ../common/hex }}
{{> ../partials/download }}
{{> ../common/slider }}
{{> ../common/footer }}
</body>
</html>
