<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body class="scholen-1">
{{> ../common/mobile-menu }}
{{> ../common/scholen-hex }}
{{> ../common/ticks }}
{{> ../common/slider }}
{{> ../common/footer }}
</body>
</html>
